

.red,
.blue {

    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
}



.red {

    color: red;
}

.blue {

    color: blue;

}


* {
    padding: 0px;
    margin: 0px;
    border:0.5px solid red;
    box-sizing: border-box;

}


.bord {
    border: 2px solid blue
}


